@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&family=Shantell+Sans:ital,wght@1,300&display=swap');
.privacyImageContainer{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
.ppimage{
    width: 100%;
    height: 100%;
}
.allPolicies{
    display: flex;
   
    width: 100%;
    height: 2100px;
}
.sidedivision1{
    /* background-color: #f1f1f1; */
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    height: 100%;
   
}
.sidedivision2{
    /* background-color: #f1f1f1; */
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    height: 100%;
    right: 0;
    position: relative;
}
.centerdivision{
    /* background-color: #f1f1f1; */
    margin: 5px;
    font-size: 20px;
    width: 1500px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}
.centerdivision h1{
    position: relative;
    top: 35px;
    left: 550px;

}
.centerdivision h2{
    text-align: justify;
    position: relative;
    top: 79px;
}
.centerdivision p2{
    text-align: justify;
    position: relative;
    top: 100px;
    font-weight: 500;
}
.centerdivision h3{
    text-align: justify;
    position: relative;
    top: 120px;
    left: 50px;
    font-size: 19px;
}
.centerdivision p3{
    text-align: justify;
    position: relative;
    top: 95px;
    left: 250px;
}
.centerdivision h4{
    text-align: justify;
    position: relative;
    top: 99px;
    left: 166px;
    font-size: 19px;
}
.centerdivision p4{
    text-align: justify;
    position: relative;
    top: 75px;
    left: 250px;
}
.centerdivision h5{
    text-align: justify;
    position: relative;
    top: 80px;
    left: 70px;
    font-size: 19px;
}
.centerdivision p5{
    text-align: justify;
    position: relative;
    top: 57px;
    left: 256px;
}
.centerdivision h6{
    text-align: justify;
    position: relative;
    top: 63px;
    left: 99px;
    font-size: 19px;
}
.centerdivision p6{
    text-align: justify;
    position: relative;
    top: 40px;
    left: 256px;
}
.centerdivision h7{
    text-align: justify;
    position: absolute;
    top: 929px;
    left: 70px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision p7{
    text-align: justify;
    position: absolute;
    top: 950px;
    left: 70px;
}
.centerdivision p8{
    text-align: justify;
    position: absolute;
    top: 1000px;
    left: 70px;
}
.centerdivision h9{
    text-align: justify;
    position: absolute;
    top: 1000px;
    left: 190px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h10{
    text-align: justify;
    position: absolute;
    top: 1025px;
    left: 190px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h11{
    text-align: justify;
    position: absolute;
    top: 1075px;
    left: 170px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h12{
    text-align: justify;
    position: absolute;
    top: 1100px;
    left: 70px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h13{
    text-align: justify;
    position: absolute;
    top: 1190px;
    left: 70px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h14{
   
    top: 1190px;
    left: 70px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h15{
  position: absolute;
    top: 1450px;
    left: 90px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h16{
  position: absolute;
    top: 1550px;
    left: 90px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h17{
  position: absolute;
    top: 1670px;
    left: 90px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h18{
  position: absolute;
    top: 1785px;
    left: 90px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h19{
  position: absolute;
    top: 1890px;
    left: 90px;
    font-size: 19px;
    font-weight: 500;
}
.centerdivision h20{
  position: absolute;
    top: 2040px;
    left: 90px;
    font-size: 30px;
    font-weight: 700;
  }
.centerdivision h21{
  position: absolute;
    top: 2250px;
    left: 90px;
    font-size: 30px;
    font-weight: 700;
  }
.centerdivision h22{
  position: absolute;
    top: 2350px;
    left: 90px;
    font-size: 30px;
    font-weight: 700;
  }
.centerdivision p9{
    text-align: justify;
    position: absolute;
    top: 1000px;
    left: 370px;
}
.centerdivision p10{
    text-align: justify;
    position: absolute;
    top: 1025px;
    left: 370px;
}
.centerdivision p11{
    text-align: justify;
    position: absolute;
    top: 1075px;
    left: 370px;
}
.centerdivision p12{
    text-align: justify;
    position: absolute;
    top: 1100px;
    left: 370px;
}
.centerdivision p13{
    text-align: left;
    position: absolute;
    top: 1240px;
    left: 90px;
}
.centerdivision p14{
    text-align: left;
    position: absolute;
    top: 1400px;
    left: 90px;
}
.centerdivision p15{
    text-align: left;
    position: absolute;
    top: 1450px;
    left: 400px;
}
.centerdivision p16{
    text-align: left;
    position: absolute;
    top: 1580px;
    left: 90px;
}
.centerdivision p17{
    text-align: left;
    position: absolute;
    top: 1699px;
    left: 90px;
}
.centerdivision p18{
    text-align: left;
    position: absolute;
    top: 1820px;
    left: 90px;
}
.centerdivision p19{
    text-align: left;
    position: absolute;
    top: 1920px;
    left: 90px;
}
.centerdivision p20{
    text-align: left;
    position: absolute;
    top: 2090px;
    left: 90px;
}
.centerdivision p21{
    text-align: left;
    position: absolute;
    top: 2300px;
    left: 90px;
}
.centerdivision p22{
    text-align: left;
    position: absolute;
    top: 2400px;
    left: 90px;
}
/* -----------------------------------------> */
/* FAQ */

.mainFAQ{
    position: fixed;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 740px;
    
}
.cardFAQ {
    width: 1140px;
    height: 679px;
    position: absolute;
    left: 200px;
    top: 30px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .card__contentFAQ {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    
  }
  .card__contentFAQ h1{
    color: whitesmoke;
    position: relative;
    left: 550px;
  }
  .divisionFaq1{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .faqFront1{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion1 button{
    position: relative;
    top: 50px;
  }
  .faqBack1{
    position: absolute;
   padding: 20px;
  }
  .faqFront1 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront1 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Quicksand";
      }
      .faqBack1 p11{
        padding: 10px;
        align-items: center;
        justify-content: center;
      }
.faqBack1 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 80px;
    font-family: "Quicksand";
}

/* ---------------------------->>>>>>>>>>card 2 */
  .divisionFaq2{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .faqFront2{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion2 button{
    position: relative;
    top: 50px;
  }
  .faqBack2{
    position: absolute;
   padding: 20px;
  }
  .faqFront2 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront2 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 110px;
    font-family: "Quicksand";
      }
.faqBack2 p11{
        padding: 10px;
        align-items: center;
        justify-content: center;
      }
.faqBack2 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: 30px;
    left: 80px;
    font-family: "Quicksand";
}

/* ----------------------------->>>>>>>>>>>>>Card3 */

.divisionFaq3{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
    top: 42px;
    left: 380px;
  }
  .faqFront3{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion3 button{
    position: relative;
    top: 50px;
  }
  .faqBack3{
    position: absolute;
   padding: 20px;
  }
  .faqFront3 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront3 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 110px;
    font-family: "Quicksand";
      }
.faqBack3 p11{
        padding: 10px;
        align-items: center;
        justify-content: center;
      }
.faqBack3 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 190px;
    left: 90px;
    font-family: "Quicksand";
}

/* ----------------------------->>>>>>>>>>>>>Card4 */

.divisionFaq4{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
    top:352px;
    left: 380px;
  }
  .faqFront4{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion4 button{
    position: relative;
    top: 50px;
  }
  .faqBack4{
    position: absolute;
   padding: 20px;
  }
  .faqFront4 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront4 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 110px;
    font-family: "Quicksand";
      }
.faqBack4 p11{
        padding: 0px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
.faqBack4 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 228px;
    left: 90px;
    font-family: "Quicksand";
}
/* ----------------------------->>>>>>>>>>>>>Card5 */

.divisionFaq5{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
    top:45px;
    left: 755px;
  }
  .faqFront5{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion5 button{
    position: relative;
    top: 50px;
  }
  .faqBack5{
    position: absolute;
   padding: 20px;
  }
  .faqFront5 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront5 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 110px;
    font-family: "Quicksand";
      }
.faqBack5 p11{
        padding: 0px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
.faqBack5 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 228px;
    left: 90px;
    font-family: "Quicksand";
}
/* ----------------------------->>>>>>>>>>>>>Card6 */

.divisionFaq6{
    background: linear-gradient(-45deg, #e88b1bb6 0%, #ec0b70ae 100% );
    color: whitesmoke;
    margin: 10px;
    font-size: 20px;
    border-radius: 1rem;
    width: 350px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: absolute;
    top:356px;
    left: 755px;
  }
  .faqFront6{
    text-align: center;
    /* background-color: #f1356d; */
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    backface-visibility: hidden;
    position: absolute;
  }
  .faqQuestion6 button{
    position: relative;
    top: 50px;
  }
  .faqBack6{
    position: absolute;
   padding: 20px;
  }
  .faqFront6 p1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
  }
  .faqFront6 button{
   font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 110px;
    font-family: "Quicksand";
      }
.faqBack6 p11{
        padding: 0px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
.faqBack6 button{
    font-size: 15px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 228px;
    left: 90px;
    font-family: "Quicksand";
}




  /* ------------------------------------>TAC */
  .mainTAC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    flex-direction: row;
    font-family: "Quicksand";
    overflow-y: hidden;
  }
  .leftTAC{
   width: 90px;
   height: 2500px;
   /* background-color: #f1356d; */
  }
  .rightTAC{
    width: 90px;
    height: 2500px;
    /* background-color: #f1356d; */
    
  }
  .centerTAC{
    width: 1500px;
    height: 2500px;
    /* background-color: gainsboro; */
    /* text-align: center; */
  }
  .centerTAC h1{
    /* position: absolute; */
    top: 0px;
    left: 550px;
    position: relative;
    /* color: #0c0b0b; */
  }
  .centerTAC p1{
    position: relative;
    top: 0px;
    left: 25%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h2{
    position: relative;
    top: 0px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC p2{
    position: relative;
    top: 0px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h3{
    position: relative;
    top: 20px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC p3{
    position: relative;
    top: 30px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h4{
    position: relative;
    top: 50px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC p4{
    position: relative;
    top: 50px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h5{
    position: relative;
    top: 90px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC p5{
    position: relative;
    top: 95px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h6{
    position: relative;
    top: 140px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC p6{
    position: relative;
    top: 150px;
    left: 0%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h7{
    position: absolute;
    top: 1260px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
    font-weight: 900;
  }
  .centerTAC p7{
    position: absolute;
    top: 1290px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h8{
    position: absolute;
    top: 1660px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
    font-weight: 900;
  }
  .centerTAC p8{
    position: absolute;
    top: 1700px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h9{
    position: absolute;
    top: 1800px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
    font-weight: 900;
  }
  .centerTAC p9{
    position: absolute;
    top: 1840px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
  }
  .centerTAC h10{
    position: absolute;
    top: 2250px;
    left: 5.5%;
    text-align: justify;
    font-size: 19px;
    font-weight: 900;
  }
  .centerTAC p10{
    position: absolute;
    top: 2290px;
    left: 5.5%;
    text-align: justify;
    font-size:19px;
}